<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<title>Abe Yang if @title do &mdash; @title endif</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Personal Website">
    <meta name="author" content="Abe Yang">

    <link rel="shortcut icon" href="@root_path/public/docs/img/favicon.ico"></link>
    <link href="@root_path/public/docs/js/flexslider.css" rel="stylesheet">
<!--     <link href="@root_path/public/docs/css/bootstrap.less" rel="stylesheet/less"> -->
    <link href="@root_path/public/docs/css/bootstrap.css" rel="stylesheet">

	<script type="text/javascript">
	
	/* Google Analytics */
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-97361-13']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
</head>
<body>

	<!-- HEADER -->

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">

				<a class="brand" href="@root_path"><span>Abe Yang</span></a>
				<ul class="nav">
			        <li class="">
			          <a href="@root_path/articles">Articles</a>
			        </li>
			        <li class="">
			          <a href="@root_path/guides">Guides</a>
			        </li>
			    </ul>
				
			</div>
		</div>
	</div> <!-- /.navbar -->
	