
:header

	
	<!-- MAIN -->

	<div id="home" class="container offset">
	
<!-- 		<div class="row"> -->
			<p class="lead">My name is Abe Yang. I'm a User Experience Designer by trade</p>
			<div class="">
				<p>In a nutshell, I design application interfaces and build websites. My goal: they must not only look good, but they must <strong>feel</strong> good, too. I also like to do Graphic Designs and Videos on the side.</p>
				<p>I currently live near Irvine, CA. If you're hiring, I may be interested &mdash; <a href="mailto:abeyang+job@gmail.com">contact me</a>.</p>
			</div>
<!-- 		</div> -->
		
		<div class="row">
			<div id="content" class="span12">
				get "projects" do
			      foreach $children do
			      
			      <a href="@url"><img src="@thumb" /><div class="bar"><div>@title</div></div></a>

			      endforeach
			
			    end
			</div>
		</div>


	</div> <!-- /.container -->

:footer
