
:header

	
	<!-- MAIN -->

	<div id="home" class="container offset">
	
		<div class="row">
			<div class="span5 clearfix">
				<p class="lead">Hi, I'm Abe Yang.<br />I'm a User Experience Designer.</p>
				<ul>
					<li><i class="icon-map-marker"></i> near Irvine, CA</li>
					<li><i class="icon-file"></i> <a href="@root_path/public/docs/img/AbeYang-Resume2012.pdf">CV<span class="visible-desktop">/Resume</span></a></li>
					<li><i class="icon-envelope"></i> <a href="mailto:abeyang+job@gmail.com">Email me</a></li>
				</ul>
			</div>
			<div class="span7">
				<p>I design application interfaces and build websites. They must not only look good, but they must <em>feel</em> good, too. Thus, a lot of work goes into both the seen and the <em>unseen</em> (like simplifying the user interaction and designing for an intuitive workflow).</p>
				<p>I also like to do graphic designs and make videos on the side. And I can code.</p>
				<p>If you're hiring, <a href="mailto:abeyang+job@gmail.com">let me know</a> &mdash; I may be interested.</p>
			</div>
		</div>
		
		<div class="row">
			<div id="content" class="span12">
				get "projects" do
			      foreach $children do
			      
			      <a href="@url">
			      	<img src="@thumb" />
			      	<div class="bar">
			      		<div>
			      			@title
			      			if $html do
			      				<i class="icon-facetime-video icon-white pull-right"></i>
			      			endif
			      		</div>
			      	</div>
			      </a>

			      endforeach
			
			    end
			</div>
		</div>


	</div> <!-- /.container -->

:footer
